﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sinema Dünyası</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
</head>
<body>
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <div class="row">
                <div class="col-md-8">
                    @Html.ActionLink("Sinema Dünyası", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
                </div>

                <div class="col-md-4">
                    <div class="collapse navbar-collapse">
                        @Html.Partial("_LoginPartial")
                    </div>


                </div>
            </div>

            <div class="row">
                <div class="col-md-8">
                    <!-- Brand and toggle get grouped for better mobile display -->
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                    </div>

                    <!-- Collect the nav links, forms, and other content for toggling -->
                    <div class="navbar-collapse collapse">
                        <ul class="nav navbar-nav">
                            <li>@Html.ActionLink(Sinema_Dunyasi.Resources.lang.AnaSayfa, "Index", "Home")</li>
                            <li>@Html.ActionLink(Sinema_Dunyasi.Resources.lang.Vizyondakiler, "Vizyondakiler", "Home")</li>
                            <li>@Html.ActionLink(Sinema_Dunyasi.Resources.lang.Yakinda, "Yakinda", "Home")</li>
                            <li>@Html.ActionLink(Sinema_Dunyasi.Resources.lang.EnIyiFilmler, "EnIyiFilmler", "Home")</li>
                            <li>@Html.ActionLink(Sinema_Dunyasi.Resources.lang.Fragmanlar, "Fragman", "Home")</li>
                            <li>@Html.ActionLink(Sinema_Dunyasi.Resources.lang.Iletisim, "Iletisim", "Home")</li>
                        </ul>

                    </div>
                </div>
                <div class="col-md-4">
                    <div class="col-md-3">
                        <div class="collapse navbar-collapse">
                            <div class="nav navbar-nav navbar-right">
                                <div class="dropdown">
                                    @if (HttpContext.Current.Session["Culture"].ToString() == "tr")
                                    {
                                        <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">Türkçe <span class="caret"></span></button>
                                        <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                                            <li>@Html.ActionLink("English", "ChangeCulture", "Home", new { lang = "en", returnurl = this.Request.RawUrl }, null)</li>
                                        </ul>
                                    }
                                    else
                                    {
                                        <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">English <span class="caret"></span></button>
                                        <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                                            <li>@Html.ActionLink("Türkçe", "ChangeCulture", "Home", new { lang = "tr", returnurl = this.Request.RawUrl }, null)</li>
                                        </ul>
                                    }
                                </div>


                            </div>

                        </div>

                    </div>
                    

                    <div class="col-md-9">
                        <div class="collapse navbar-collapse">
                            <form class="navbar-form navbar-right" action="@Url.Action("Arama", "Home")" method="get">
                                <div class="input-group">
                                    <input type="text" name="searchValue" class="form-control" placeholder=@Sinema_Dunyasi.Resources.lang.Ara...>
                                    <div class="input-group-btn">
                                        <button class="btn btn-default" type="submit">
                                            <i class="glyphicon glyphicon-search"></i>
                                        </button>
 
                                    </div>
                                </div>
                            </form>

                        </div>
                    </div>

                </div>


            </div>

        </div>
    </nav>

    <div class="container body-content">
        @RenderBody()
        <footer>
            <div class="panel panel-default">
                <div class="panel-body">
                    <div class="row">
                        <div class="col-md-8">
                            <h5><p style="margin-top:12px;">&copy; Copyright @DateTime.Now.Year - Sinema Dünyası </p></h5>
                        </div>

                        <div class="col-md-4">
                            <ul class="social-network social-circle">
                                <li><a href="#" class="icoFacebook" title="Facebook"><i class="fa fa-facebook"></i></a></li>
                                <li><a href="#" class="icoTwitter" title="Twitter"><i class="fa fa-twitter"></i></a></li>
                                <li><a href="#" class="icoGoogle" title="Google +"><i class="fa fa-google-plus"></i></a></li>
                            </ul>
                        </div>

                    </div>

                </div>
            </div>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
