﻿@using Microsoft.AspNet.Identity
@if (Sinema_Dunyasi.Controllers.UserController.girisYapildi == 1)
{
    using (Html.BeginForm("Cikis", "User", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
    {
        @Html.AntiForgeryToken()

        <ul class="nav navbar-nav navbar-right">
            <li>@Html.ActionLink(Sinema_Dunyasi.Resources.lang.Merhaba + " " + Sinema_Dunyasi.Controllers.UserController.kullaniciAdi + "!", "Index", "Home", routeValues: null, htmlAttributes: new { id = "UserLink" })</li>
            <li>@Html.ActionLink(Sinema_Dunyasi.Resources.lang.YoneticiPaneli, "Index", "Admin", routeValues: null, htmlAttributes: new { id = "panelLink" })</li>
            <li><a href="javascript:document.getElementById('logoutForm').submit()">@Sinema_Dunyasi.Resources.lang.Cikis</a></li>
        </ul>
    }
}
else if (Sinema_Dunyasi.Controllers.UserController.girisYapildi == 2)
{
    using (Html.BeginForm("Cikis", "User", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
    {
        @Html.AntiForgeryToken()

        <ul class="nav navbar-nav navbar-right">

            <li>@Html.ActionLink(Sinema_Dunyasi.Resources.lang.Merhaba + " " + Sinema_Dunyasi.Controllers.UserController.kullaniciAdi + "!", "Index", "Home", routeValues: null, htmlAttributes: new { id = "UserLink" })</li>

            <li><a href="javascript:document.getElementById('logoutForm').submit()">Çıkış Yap</a></li>
        </ul>
    }

}
else
{
    <ul class="nav navbar-nav navbar-right">
        <li>@Html.ActionLink(Sinema_Dunyasi.Resources.lang.KayitOl, "Kayit", "User", routeValues: null, htmlAttributes: new { id = "registerLink" })</li>
        <li>@Html.ActionLink(Sinema_Dunyasi.Resources.lang.GirisYap, "Giris", "User", routeValues: null, htmlAttributes: new { id = "loginLink" })</li>
    </ul>
}
