﻿
@{
    IEnumerable<Sinema_Dunyasi.Models.Film> arananFilmler = ViewBag.Aranan;
    IEnumerable<Sinema_Dunyasi.Models.Film> vizyondakiFilmler = ViewBag.Vizyondakiler;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Arama</title>
</head>
<body>
    <div class="row">

        <div class="col-md-8">

            @if(arananFilmler.Count() == 0)
            {
                <h4>Aradığınız Kriterlere Uygun Sonuç Bulunamadı.</h4>
            }

            @foreach (var item in arananFilmler)
            {
                <div class="col-md-12">
                    <div class="panel panel-default" style="height:200px;">

                        <div class="col-md-3 center-cropped3">

                            @if (item.AfisPath == null)
                            {
                                <a href="/Home/Film?FilmId=@item.FilmId"><img src="~/Content/images/resimyok.png" alt="" /></a>
                            }
                            else
                            {
                                <a href="/Home/Film?FilmId=@item.FilmId"><img src="@Url.Content(item.AfisPath)" alt=""></a>
                            }

                        </div>

                        <div class="col-md-9">
                            <div class="blog-list-details" style="margin-top:8px">
                                <h5 class="blog-list-title"><a href="/Home/Film?FilmId=@item.FilmId">@item.Ad</a></h5>
                                <p class="blog-list-meta small-text"><span><b>@Sinema_Dunyasi.Resources.lang.VizyonTarihi : </b> @String.Format("{0:dd/MM/yyyy}", item.VizyonTarihi)</span></p>
                                <p class="blog-list-meta small-text"><span><b>@Sinema_Dunyasi.Resources.lang.IMDB : </b> @item.IMDB</span></p>
                                <p class="blog-list-meta small-text"><span><b>@Sinema_Dunyasi.Resources.lang.Tur : </b> @item.Tur</span></p>
                                <p class="blog-list-meta small-text"><span><b>@Sinema_Dunyasi.Resources.lang.Ozet : </b> @item.Ozet.Substring(0, 250) ...</span></p>

                            </div>
                        </div>

                    </div>
                </div>
            }

        </div>

        <div class="col-md-4">
            <div class="panel panel-default">
                <div class="panel-heading">@Sinema_Dunyasi.Resources.lang.Vizyondakiler</div>
                <div class="panel-body">

                    @foreach (var item in vizyondakiFilmler)
                    {
                        <div class="blog-list-post clearfix">
                            <div class="blog-list-thumb">

                                @if (item.AfisPath == null)
                                {
                                    <a href="/Home/Film?FilmId=@item.FilmId"><img src="~/Content/images/resimyok.png" alt="" /></a>
                                }
                                else
                                {
                                    <a href="/Home/Film?FilmId=@item.FilmId"><img src="@Url.Content(item.AfisPath)" alt=""></a>
                                }

                            </div>
                            <div class="blog-list-details">
                                <h5 class="blog-list-title"><a href="/Home/Film?FilmId=@item.FilmId">@item.Ad</a></h5>
                                <p class="blog-list-meta small-text"><span><b>@Sinema_Dunyasi.Resources.lang.VizyonTarihi : </b> @String.Format("{0:dd/MM/yyyy}", item.VizyonTarihi)</span></p>
                                <p class="blog-list-meta small-text"><span><b>@Sinema_Dunyasi.Resources.lang.IMDB : </b> @item.IMDB</span></p>
                                <p class="blog-list-meta small-text"><span><b>@Sinema_Dunyasi.Resources.lang.Tur : </b> @item.Tur</span></p>

                            </div>
                        </div>
                    }


                </div>
                <div class="panel-footer text-center">
                    <a href="@Url.Action("Vizyondakiler","Home")" class="btn btn-primary" role="button">@Sinema_Dunyasi.Resources.lang.TumunuGoster</a>
                </div>
            </div>
        </div>

    </div>
</body>
</html>
