﻿
@{

    IEnumerable<Sinema_Dunyasi.Models.Film> vizyondakiFilmler = ViewBag.Vizyondakiler;
    IEnumerable<Sinema_Dunyasi.Models.Yorumlar> yorumlar = ViewBag.Yorumlar; 
    Sinema_Dunyasi.Models.Film film = ViewBag.Film;

}




<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>


</head>
<body>
    <div class="row">

        <h3 style="margin-left: 30px;">
            @film.Ad
        </h3>

        <div class="col-md-8">
           
            <div class="col-md-12">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <div class="embed-responsive embed-responsive-16by9">
                            <iframe class="embed-responsive-item" src="@film.FragmanUrl"></iframe>
                        </div>


                    </div>


                    <div class="panel-body">
                        <div class="col-md-3 center-cropped">

                            @if (film.AfisPath == null)
                            {
                                <img style="width:100%" src="~/Content/images/resimyok.png" alt="" />
                            }
                            else
                            {
                                <img src="@Url.Content(film.AfisPath)" alt="">
                            }

                        </div>


                        <div class="col-md-9">

                            <ul class="list-group">

                                <li class="list-group-item"><span><b>@Sinema_Dunyasi.Resources.lang.VizyonTarihi : </b> @String.Format("{0:dd/MM/yyyy}", film.VizyonTarihi)</span></li>
                                <li class="list-group-item"><span><b>@Sinema_Dunyasi.Resources.lang.IMDB : </b> @film.IMDB</span></li>
                                <li class="list-group-item"><span><b>@Sinema_Dunyasi.Resources.lang.Tur : </b> @film.Tur</span></li>

                                <li class="list-group-item"><span><b>@Sinema_Dunyasi.Resources.lang.Yonetmen : </b> @film.Yonetmen</span></li>
                                <li class="list-group-item"><span><b>@Sinema_Dunyasi.Resources.lang.Yapimci : </b> @film.Yapimci</span></li>
                                <li class="list-group-item"><span><b>@Sinema_Dunyasi.Resources.lang.Senarist : </b>@film.Senarist</span></li>
                                <li class="list-group-item"><span><b>@Sinema_Dunyasi.Resources.lang.Oyuncular : </b>@film.Oyuncu</span></li>
                            </ul>

                        </div>

                    </div>

                    <div class="panel-footer">
                        <p class="blog-list-meta small-text"><span><b>@Sinema_Dunyasi.Resources.lang.Ozet : </b> @film.Ozet</span></p>

                    </div>


                </div>
            </div>
 
            @{
                if (yorumlar.Count() != 0)
                {
                    <div class="col-md-12">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h4>@Sinema_Dunyasi.Resources.lang.Yorumlar</h4>
                            </div>
                            <div class="panel-body" style="padding-top: 5px;">
                                @foreach (var item in yorumlar)
                                {
                                    <fieldset>

                                        <div class="text-left"><b>@item.KullaniciAdi</b></div>
                                        <div class="text-right" style="margin-top:-20px;"><b>@String.Format("{0:dd/MM/yyyy HH:mm:ss}", item.Tarih)</b></div>
                                        <hr>
                                        <div class="text">@item.Yorum</div>

                                    </fieldset>
                                }
                            </div>


                        </div>
                    </div>



                }


            }




            @{
                if (Sinema_Dunyasi.Controllers.UserController.girisYapildi != 0)
                {
                    <div class="col-md-12">

                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h4>@Sinema_Dunyasi.Resources.lang.Yorumunuz</h4>
                            </div>
                            <div class="panel-body">
                                <div col-md-12>

                                    <div class="contact-form">
                                        @using (Html.BeginForm("YorumYaz", "User", new { filmId = film.FilmId, kullaniciAdi = Sinema_Dunyasi.Controllers.UserController.kullaniciAdi }, FormMethod.Post, new { enctype = "multipart/form-data" }))
                                        {
                                            <div class="form-group">
                                                <label class="col-sm-4 control-label">@Sinema_Dunyasi.Resources.lang.KullaniciAdi</label>
                                                <label style="padding-top: 7px; font-weight: normal;">@Sinema_Dunyasi.Controllers.UserController.kullaniciAdi</label>

                                            </div>

                                            <div class="form-group">
                                                <label class="col-sm-4 control-label">@Sinema_Dunyasi.Resources.lang.Yorumunuz</label>
                                                @Html.TextArea("Yorum", null, new { @class = "form-control", placeholder = Sinema_Dunyasi.Resources.lang.Yorumunuz, rows = 6, columns = 40 })
                                            </div>
                                            <div class="form-group">
                                                <button type="submit" class="col-sm-offset-4 btn btn-primary">@Sinema_Dunyasi.Resources.lang.Gonder</button>
                                                <label>@TempData["Mesaj"]</label>
                                            </div>
                                        }
                                    </div>

                                </div>
                            </div>
                        </div>


                    </div>

                }
                else
                {
                    <h4 style="margin-left: 15px;">@Sinema_Dunyasi.Resources.lang.GirisUyari</h4>
                }


            }




        </div>

        <div class="col-md-4">
            <div class="panel panel-default">
                <div class="panel-heading">@Sinema_Dunyasi.Resources.lang.Vizyondakiler</div>
                <div class="panel-body">

                    @foreach (var item in vizyondakiFilmler)
                    {
                        <div class="blog-list-post clearfix">
                            <div class="blog-list-thumb">

                                @if (item.AfisPath == null)
                                {
                                    <a href="/Home/Film?FilmId=@item.FilmId"><img src="~/Content/images/resimyok.png" alt="" /></a>
                                }
                                else
                                {
                                    <a href="/Home/Film?FilmId=@item.FilmId"><img src="@Url.Content(item.AfisPath)" alt=""></a>
                                }

                            </div>
                            <div class="blog-list-details">
                                <h5 class="blog-list-title"><a href="/Home/Film?FilmId=@item.FilmId">@item.Ad</a></h5>
                                <p class="blog-list-meta small-text"><span><b>@Sinema_Dunyasi.Resources.lang.VizyonTarihi : </b> @String.Format("{0:dd/MM/yyyy}", item.VizyonTarihi)</span></p>
                                <p class="blog-list-meta small-text"><span><b>@Sinema_Dunyasi.Resources.lang.IMDB : </b> @item.IMDB</span></p>
                                <p class="blog-list-meta small-text"><span><b>@Sinema_Dunyasi.Resources.lang.Tur : </b> @item.Tur</span></p>

                            </div>
                        </div>
                    }


                </div>
                <div class="panel-footer text-center">
                    <button type="button" class="btn btn-primary">@Sinema_Dunyasi.Resources.lang.TumunuGoster</button>
                </div>
            </div>

        </div>


    </div>


    <div>



    </div>
</body>
</html>
