﻿

@{

    IEnumerable<Sinema_Dunyasi.Models.Film> vizyondakiFilmler = ViewBag.Vizyondakiler;

}

<div class="row">
 
    <div class="col-md-8">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4>@Sinema_Dunyasi.Resources.lang.Iletisim</h4>
            </div>
            <div class="panel-body">
                <div class="col-md-12">
                    <address>
                        Sinema Dünyası<br />
                        34050 Eyüp / İSTANBUL<br />
                        <abbr title="Email">P:</abbr>sinemadunyasi@gmail.com
                    </address>
                </div>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4>@Sinema_Dunyasi.Resources.lang.Iletisim</h4>
            </div>
            <div class="panel-body">
                <div col-md-12>

                    <div class="contact-form">
                        @using (Html.BeginForm("Iletisim", "Home", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                        {
                            <div class="form-group">
                                <label class="col-sm-4 control-label">@Sinema_Dunyasi.Resources.lang.Adiniz</label>
                                <input id="adsoyad" type="text" name="AdSoyad" class="form-control" placeholder=@Sinema_Dunyasi.Resources.lang.Adiniz>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-4 control-label">@Sinema_Dunyasi.Resources.lang.Konu</label>
                                <input id="konu" type="text" name="Konu" class="form-control" placeholder=@Sinema_Dunyasi.Resources.lang.Konu>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-4 control-label">@Sinema_Dunyasi.Resources.lang.Email</label>
                                <input id="eposta" type="text" name="Eposta" class="form-control" placeholder=@Sinema_Dunyasi.Resources.lang.Email>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-4 control-label">@Sinema_Dunyasi.Resources.lang.Mesaj</label>
                                @Html.TextArea("Mesaj", null, new { @class = "form-control", placeholder = @Sinema_Dunyasi.Resources.lang.Mesaj, rows = 6, columns = 40 })
                            </div>
                            <div class="form-group">
                                <button type="submit" class="col-sm-offset-4 btn btn-primary">@Sinema_Dunyasi.Resources.lang.Gonder</button>
                                <label>@TempData["Mesaj"]</label>
                            </div>
                        }
                    </div>

                </div>
            </div>
        </div>
    </div>


    <div class="col-md-4">
        <div class="panel panel-default">
            <div class="panel-heading">@Sinema_Dunyasi.Resources.lang.Vizyondakiler</div>
            <div class="panel-body">

                @foreach (var item in vizyondakiFilmler)
                {
                    <div class="blog-list-post clearfix">
                        <div class="blog-list-thumb">

                            @if (item.AfisPath == null)
                            {
                                <a href="/Home/Film?FilmId=@item.FilmId"><img src="~/Content/images/resimyok.png" alt="" /></a>
                            }
                            else
                            {
                                <a href="/Home/Film?FilmId=@item.FilmId"><img src="@Url.Content(item.AfisPath)" alt=""></a>
                            }

                        </div>
                        <div class="blog-list-details">
                            <h5 class="blog-list-title"><a href="/Home/Film?FilmId=@item.FilmId">@item.Ad</a></h5>
                            <p class="blog-list-meta small-text"><span><b>@Sinema_Dunyasi.Resources.lang.VizyonTarihi : </b> @String.Format("{0:dd/MM/yyyy}", item.VizyonTarihi)</span></p>
                            <p class="blog-list-meta small-text"><span><b>@Sinema_Dunyasi.Resources.lang.IMDB : </b> @item.IMDB</span></p>
                            <p class="blog-list-meta small-text"><span><b>@Sinema_Dunyasi.Resources.lang.Tur : </b> @item.Tur</span></p>

                        </div>
                    </div>
                }


            </div>
            <div class="panel-footer text-center">
                <a href="@Url.Action("Vizyondakiler","Home")" class="btn btn-primary" role="button">@Sinema_Dunyasi.Resources.lang.TumunuGoster</a>
            </div>
        </div>
    </div>


</div>
