﻿
@{

    IEnumerable<Sinema_Dunyasi.Models.Slider> slider = ViewBag.Slider;
    IEnumerable<Sinema_Dunyasi.Models.Haber> haberler = ViewBag.Haber;

    IEnumerable<Sinema_Dunyasi.Models.Film> vizyondakiler = ViewBag.Vizyondakiler;
    IEnumerable<Sinema_Dunyasi.Models.Film> yakinda = ViewBag.Yakinda;
    IEnumerable<Sinema_Dunyasi.Models.Film> enIyiFilmler = ViewBag.EnIyiFilmler;
}



<div class="row">
    <div class="col-md-8">
        <div class="panel panel-default">
            <div class="panel-body">

                <div id="myCarousel" class="carousel slide" data-ride="carousel">
                    <!-- Indicators -->

                    <ol class="carousel-indicators">

                        @for (int i = 0; i < slider.Count(); i++)
                        {
                            Sinema_Dunyasi.Models.Slider item = slider.ElementAt(i);
                            if (i == 0)
                            {
                                <li data-target="#myCarousel" data-slide-to="@item.SliderId" class="active"></li>
                            }
                            else
                            {
                                <li data-target="#myCarousel" data-slide-to="@item.SliderId"></li>
                            }


                        }

                    </ol>

                    <!-- Wrapper for slides -->
                    <div class="carousel-inner" role="listbox">

                        @for (int i = 0; i < slider.Count(); i++)
                        {
                            Sinema_Dunyasi.Models.Slider item = slider.ElementAt(i);
                            var itemClass = i == 0 ? "item active" : "item";


                            <div class="@itemClass">
                                <a href="/Home/Film?FilmId=@item.FilmId"><img style="height:282px; width:720px;" src="@Url.Content(item.SliderPath)" alt="@item.SliderText"></a>
                            </div>

                        }


                    </div>

                    <!-- Left and right controls -->
                    <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
                        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                        <span class="sr-only">Previous</span>
                    </a>
                    <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
                        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                        <span class="sr-only">Next</span>
                    </a>
                </div>
            </div>
        </div>
    </div>

    <div class="col-md-4">
        <div class="panel panel-default" ">
            <div class="panel-heading">@Sinema_Dunyasi.Resources.lang.Haberler</div>
            <div class="list-group">

                @foreach (var item in haberler)
                {
                    <a href="/Home/Haber?HaberId=@item.HaberId" class="list-group-item">
                        <h4 class="list-group">@item.Title</h4>
                    </a>

                }

            </div>

        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-4">
        <div class="panel panel-default">
            <div class="panel-heading">@Sinema_Dunyasi.Resources.lang.Vizyondakiler</div>
            <div class="panel-body">

                @foreach (var item in vizyondakiler)
                {

                    <div class="blog-list-post clearfix">
                        <div class="blog-list-thumb">
                            @if (item.AfisPath == null)
                            {
                                <a href="/Home/Film?FilmId=@item.FilmId"><img src="~/Content/images/resimyok.png" alt="" /></a>
                            }
                            else
                            {
                                <a href="/Home/Film?FilmId=@item.FilmId"><img src="@Url.Content(item.AfisPath)" alt=""></a>
                            }

                        </div>
                        <div class="blog-list-details">
                            <h5 class="blog-list-title"><a href="/Home/Film?FilmId=@item.FilmId">@item.Ad</a></h5>
                            <p class="blog-list-meta small-text"><span><b>@Sinema_Dunyasi.Resources.lang.VizyonTarihi : </b> @String.Format("{0:dd/MM/yyyy}", item.VizyonTarihi)</span></p>
                            <p class="blog-list-meta small-text"><span><b>@Sinema_Dunyasi.Resources.lang.IMDB : </b> @item.IMDB</span></p>
                            <p class="blog-list-meta small-text"><span><b>@Sinema_Dunyasi.Resources.lang.Tur : </b> @item.Tur</span></p>

                        </div>
                    </div>
                }



            </div>
            <div class="panel-footer text-center">
                <a href="@Url.Action("Vizyondakiler","Home")" class="btn btn-primary" role="button">@Sinema_Dunyasi.Resources.lang.TumunuGoster</a>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="panel panel-default">
            <div class="panel-heading">@Sinema_Dunyasi.Resources.lang.Yakinda</div>
            <div class="panel-body">
                @foreach (var item in yakinda)
                {

                    <div class="blog-list-post clearfix">
                        <div class="blog-list-thumb">
                            @if (item.AfisPath == null)
                            {
                                <a href="/Home/Film?FilmId=@item.FilmId"><img src="~/Content/images/resimyok.png" alt="" /></a>
                            }
                            else
                            {
                                <a href="/Home/Film?FilmId=@item.FilmId"><img src="@Url.Content(item.AfisPath)" alt=""></a>
                            }

                        </div>
                        <div class="blog-list-details">
                            <h5 class="blog-list-title"><a href="/Home/Film?FilmId=@item.FilmId">@item.Ad</a></h5>
                            <p class="blog-list-meta small-text"><span><b>@Sinema_Dunyasi.Resources.lang.VizyonTarihi : </b> @String.Format("{0:dd/MM/yyyy}", item.VizyonTarihi)</span></p>
                            <p class="blog-list-meta small-text"><span><b>@Sinema_Dunyasi.Resources.lang.IMDB : </b> @item.IMDB</span></p>
                            <p class="blog-list-meta small-text"><span><b>@Sinema_Dunyasi.Resources.lang.Tur : </b> @item.Tur</span></p>

                        </div>
                    </div>
                }

            </div>

            <div class="panel-footer text-center">
                <a href="@Url.Action("Yakinda","Home")" class="btn btn-primary" role="button">@Sinema_Dunyasi.Resources.lang.TumunuGoster</a>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="panel panel-default">
            <div class="panel-heading">@Sinema_Dunyasi.Resources.lang.EnIyiFilmler</div>
            <div class="panel-body">
                @foreach (var item in enIyiFilmler)
                {

                    <div class="blog-list-post clearfix">
                        <div class="blog-list-thumb">

                            @if (item.AfisPath == null)
                            {
                                <a href="/Home/Film?FilmId=@item.FilmId"><img src="~/Content/images/resimyok.png" alt="" /></a>
                            }
                            else
                            {
                                <a href="/Home/Film?FilmId=@item.FilmId"><img src="@Url.Content(item.AfisPath)" alt=""></a>
                            }

                             

                        </div>
                        <div class="blog-list-details">
                            <h5 class="blog-list-title"><a href="/Home/Film?FilmId=@item.FilmId">@item.Ad</a></h5>
                            <p class="blog-list-meta small-text"><span><b>@Sinema_Dunyasi.Resources.lang.VizyonTarihi : </b> @String.Format("{0:dd/MM/yyyy}", item.VizyonTarihi)</span></p>
                            <p class="blog-list-meta small-text"><span><b>@Sinema_Dunyasi.Resources.lang.IMDB : </b> @item.IMDB</span></p>
                            <p class="blog-list-meta small-text"><span><b>@Sinema_Dunyasi.Resources.lang.Tur : </b> @item.Tur</span></p>

                        </div>
                    </div>
                }

            </div>

            <div class="panel-footer text-center">
                <a href="@Url.Action("EnIyiFilmler","Home")" class="btn btn-primary" role="button">@Sinema_Dunyasi.Resources.lang.TumunuGoster</a>
            </div>
        </div>
    </div>
</div>
