﻿
@{

    IEnumerable<Sinema_Dunyasi.Models.Film> vizyondakiFilmler = ViewBag.Vizyondakiler;
    IEnumerable<Sinema_Dunyasi.Models.Film> gelecekFilmler = ViewBag.GelecekFilmler;

}

<div class="row">
    <div class="col-md-8">

        @foreach (var item in vizyondakiFilmler)
            {
            <div class="col-md-4">
                <div class="panel panel-default" style="height:400px;">

                    <div class="col-md-12 center-cropped2">

                        @if (item.AfisPath == null)
                        {
                            <a href="/Home/Film?FilmId=@item.FilmId"><img src="~/Content/images/resimyok.png" alt="" /></a>
                        }
                        else
                        {
                            <a href="/Home/Film?FilmId=@item.FilmId"><img src="@Url.Content(item.AfisPath)" alt=""></a>
                        }


                    </div>

                    <div class="col-md-12">
                        <div class="blog-list-details" style="margin-top:15px">
                            <h5 class="blog-list-title"><a href="/Home/Film?FilmId=@item.FilmId">@item.Ad</a></h5>
                            <p class="blog-list-meta small-text"><span><b>@Sinema_Dunyasi.Resources.lang.VizyonTarihi : </b> @String.Format("{0:dd/MM/yyyy}", item.VizyonTarihi)</span></p>
                            <p class="blog-list-meta small-text"><span><b>@Sinema_Dunyasi.Resources.lang.IMDB : </b> @item.IMDB</span></p>
                            <p class="blog-list-meta small-text"><span><b>@Sinema_Dunyasi.Resources.lang.Tur : </b> @item.Tur</span></p>

                        </div>
                    </div>

                </div>
            </div>
        }

    </div>

    <div class="col-md-4">
        <div class="panel panel-default">
            <div class="panel-heading">@Sinema_Dunyasi.Resources.lang.Yakinda</div>
            <div class="panel-body">

                @foreach (var item in gelecekFilmler.Take(10))
                {
                    <div class="blog-list-post clearfix">
                        <div class="blog-list-thumb">

                            @if (item.AfisPath == null)
                            {
                                <a href="/Home/Film?FilmId=@item.FilmId"><img src="~/Content/images/resimyok.png" alt="" /></a>
                            }
                            else
                            {
                                <a href="/Home/Film?FilmId=@item.FilmId"><img src="@Url.Content(item.AfisPath)" alt=""></a>
                            }

                        </div>
                        <div class="blog-list-details">
                            <h5 class="blog-list-title"><a href="/Home/Film?FilmId=@item.FilmId">@item.Ad</a></h5>
                            <p class="blog-list-meta small-text"><span><b>@Sinema_Dunyasi.Resources.lang.VizyonTarihi : </b> @String.Format("{0:dd/MM/yyyy}", item.VizyonTarihi)</span></p>
                            <p class="blog-list-meta small-text"><span><b>@Sinema_Dunyasi.Resources.lang.IMDB : </b> @item.IMDB</span></p>
                            <p class="blog-list-meta small-text"><span><b>@Sinema_Dunyasi.Resources.lang.Tur : </b> @item.Tur</span></p>

                        </div>
                    </div>
                }


            </div>
            <div class="panel-footer text-center">
                <a href="@Url.Action("Yakinda","Home")" class="btn btn-primary" role="button">@Sinema_Dunyasi.Resources.lang.TumunuGoster</a>
            </div>
        </div>
    </div>

</div>