﻿body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
    margin-top: 65px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

.navbar-brand {
    font-size: 25px;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.navbar-collapse.collapse {
    margin-right: -15px !important;
    margin-left: -15px !important;
}

.navbar-collapse .navbar-nav.navbar-right:last-child {
    margin-right: 0;
}

.dropdown {
    margin-right: 15px;
    margin-top: 8px;
}

.form-control {
    margin-right: 35px;
}


.navbar-form {
    margin-right: -15px;
}



.blog-list-post,
.event-small-list,
.prof-list-item {
    display: block;
    padding-top: 15px;
}

    .blog-list-post:first-child,
    .event-small-list:first-child,
    .prof-list-item:first-child {
        padding-top: 0 !important;
    }

    .blog-list-post:last-child,
    .event-small-list:last-child,
    .prof-list-item:last-child {
        margin-bottom: 0 !important;
    }

    .blog-list-post:not(:last-child),
    .event-small-list:not(:last-child),
    .prof-list-item:not(:last-child) {
        padding-bottom: 15px;
        border-bottom: 1px dashed;
    }

.blog-list-thumb {
    display: block;
    float: left;
    height: 90px;
    margin-right: 15px;
    width: 65px;
}

    .blog-list-thumb img {
        width: 100%;
        height: 100%;
    }

.center-cropped {
    padding: 0px;
}

    .center-cropped img {
        object-fit: cover;
        object-position: center;
        height: 250px;
    }


.center-cropped2 { 
}

   .center-cropped2 img {
    height: 240px;
    margin-left: 0;
    margin-top: 15px;
    object-fit: initial;
    object-position: center center;
    width: 100%;
}

   .center-cropped3 { 
}

  .center-cropped3 img {
    height: 170px;
    margin-left: 0;
    margin-top: 13px;
    object-fit: initial;
    object-position: center center;
    width: 100%;
}


.blog-list-title,
.blog-grid-title,
.event-small-title,
.event-title,
.gallery-title {
    margin: 2px 0 0 0;
}

    .blog-list-title a,
    .blog-grid-title a,
    .event-small-title a,
    .event-title a,
    .gallery-title a {
        font-family: Helvetica, Arial, sans-serif;
        line-height: 22px;
        font-weight: 700;
        font-size: 14px;
    }

.blog-list-meta,
.event-small-meta,
.blog-grid-meta {
    margin: 0;
}


fieldset {
    border: 1px ridge;
    margin-top: 15px;
    min-width: 0;
    padding: 5px;
}

hr {
    border-style: inset none none;
    margin-bottom: 5px;
    margin-top: 10px;
}

.pager{
    margin-right:-410px;
    margin-top:-10px;
}