﻿@model Sinema_Dunyasi.Models.Film


<link href="~/Content/plugins/form-datepicker/css/datepicker.css" rel="stylesheet" />
<script src="~/Content/plugins/form-datepicker/js/bootstrap-datepicker.js"></script>



<div class="row">
    <div class="col-sm-12">
        @using (Html.BeginForm("FilmDuzenle", "Admin", FormMethod.Post, new { @class = "form-horizontal", enctype = "multipart/form-data" }))
        {
            @Html.HiddenFor(m => m.FilmId)
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4>Film Düzenle</h4>
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="form-group">
                            <div class="col-md-12">
                                <label class="col-sm-2 control-label"></label>
                                <div class="col-sm-10">
                                    @if (Model.AfisPath == null)
                                    {
                                        <img style='width:100%; height:auto; border:solid 1px #cccccc;' src="~/Content/images/resimyok.png" alt="" />
                                    }
                                    else
                                    {
                                        <img style='width:50%; height:auto; border:solid 1px #cccccc;' src="@Url.Content(Model.AfisPath)" alt="" />
                                    }
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-12">
                                <label class="col-sm-2 control-label">Afiş</label>
                                <div class="col-sm-10">
                                    <input type="file" style="padding-top:0px;" name="file" class="form-control" />
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-12">
                                <label class="col-sm-2 control-label">Ad</label>
                                <div class="col-sm-10">
                                    @Html.TextBoxFor(m => m.Ad, new { @class = "form-control", style = "width:250px;" })
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-12">
                                <label class="col-sm-2 control-label">Vizyon Tarihi</label>
                                <div class="col-sm-10">
                                    @Html.TextBoxFor(m => m.VizyonTarihi, new { @class = "form-control", style = "width:250px;" })
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-12">
                                <label class="col-sm-2 control-label">Özet</label>
                                <div class="col-sm-10">
                                    @*@Html.TextBoxFor(m => m.Ozet, new { @class = "form-control", style = "width:250px;" })*@
                                    @Html.TextAreaFor(m => m.Ozet, new { @class = "form-control", rows = 6, columns = 40 })
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-12">
                                <label class="col-sm-2 control-label">Fragman Url</label>
                                <div class="col-sm-10">
                                    @Html.TextBoxFor(m => m.FragmanUrl, new { @class = "form-control", style = "width:250px;" })
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-12">
                                <label class="col-sm-2 control-label">IMDB Puanı</label>
                                <div class="col-sm-10">
                                    @Html.TextBoxFor(m => m.IMDB, new { @class = "form-control", style = "width:250px;" })
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-12">
                                <label class="col-sm-2 control-label">Tür</label>
                                <div class="col-sm-10">
                                    @Html.TextBoxFor(m => m.Tur, new { @class = "form-control", style = "width:250px;" })
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-12">
                                <label class="col-sm-2 control-label">Oyuncu</label>
                                <div class="col-sm-10">
                                    @Html.TextBoxFor(m => m.Oyuncu, new { @class = "form-control", style = "width:250px;" })
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-12">
                                <label class="col-sm-2 control-label">Yönetmen</label>
                                <div class="col-sm-10">
                                    @Html.TextBoxFor(m => m.Yonetmen, new { @class = "form-control", style = "width:250px;" })
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-12">
                                <label class="col-sm-2 control-label">Senarist</label>
                                <div class="col-sm-10">
                                    @Html.TextBoxFor(m => m.Senarist, new { @class = "form-control", style = "width:250px;" })
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-12">
                                <label class="col-sm-2 control-label">Yapımcı</label>
                                <div class="col-sm-10">
                                    @Html.TextBoxFor(m => m.Yapimci, new { @class = "form-control", style = "width:250px;" })
                                </div>
                            </div>
                        </div>



                    </div>
                </div>
                <div class="panel-footer">
                    <div class="row">
                        <div class="col-sm-9 col-sm-offset-3">
                            <div class="btn-toolbar pull-right">
                                <input type="submit" value="Güncelle" class="btn btn-success" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>
</div>


<script type="text/javascript">
    $(document).ready(function () {
        $("#BitisTarih").datepicker({ dateFormat: 'dd-MM-yyyy' });
        $("#BaslangicTarih").datepicker({ dateFormat: 'dd-MM-yyyy' });
    });
</script>


