﻿
@{

    IEnumerable<Sinema_Dunyasi.Models.Film> filmler = ViewBag.Filmler;
    Sinema_Dunyasi.Models.Film film = new Sinema_Dunyasi.Models.Film();
}


<div class="row">
    <div class="col-md-12">
        <div class="col-md-2">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4>Admin Menü</h4>
                </div>
                <div class="panel-body">
                    <ul class="nav nav-pills nav-stacked">
                        <li>@Html.ActionLink("Haberler", "Index", "Admin")</li>
                        <li>@Html.ActionLink("Slide", "Slider", "Admin")</li>
                        <li class="active">@Html.ActionLink("Filmler", "Filmler", "Admin")</li>
                        <li>@Html.ActionLink("Mesajlar", "Mesajlar", "Admin")</li>
                        <li>@Html.ActionLink("Yorumlar", "Yorumlar", "Admin")</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-md-10">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4>Filmler</h4>

                    <button type="button" id="btnHaber" class="btn btn-success btn-sm tooltips pull-right" data-toggle="modal" data-target="#myModal" style="margin-top:-33px;">Yeni Film</button>

                </div>

                @using (Html.BeginForm("FilmEkle", "Admin", FormMethod.Post, new { @class = "form-horizontal", enctype = "multipart/form-data" }))
                {

                    <!-- Modal -->
                    <div class="modal fade" id="myModal" role="dialog">
                        <div class="modal-dialog">

                            <!-- Modal content-->
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                                    <h4 class="modal-title">Yeni Film</h4>
                                </div>

                                <div class="modal-body">


                                    <div class="row">
                                        <div class="form-horizontal">
                                            <div class="form-group">
                                                <div class="col-md-12">
                                                    <label class="col-sm-4 control-label">Afiş</label>
                                                    <div class="col-sm-8">
                                                        <input type="file" style="padding-top:0px;" name="file" class="form-control" />
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <div class="col-md-12">
                                                    <label class="col-sm-4 control-label">Ad</label>
                                                    <div class="col-sm-8">
                                                        <input type="text" class="form-control" id="Ad" name="Ad" value="@(film.Ad)">
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <div class="col-md-12">
                                                    <label class="col-sm-4 control-label">Vizyon Tarihi</label>
                                                    <div class="col-sm-8">
                                                        <input type="text" class="form-control" id="VizyonTarihi" name="VizyonTarihi" value="@(film.VizyonTarihi)">
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <div class="col-md-12">
                                                    <label class="col-sm-4 control-label">Özet</label>
                                                    <div class="col-sm-8">
                                                        @*<input type="text" class="form-control" id="Ozet" name="Ozet" value="@(film.Ozet)">*@
                                                        <textarea class="form-control" rows="5" id="Ozet" name="Ozet" value="@(film.Ozet)"></textarea>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="form-group">
                                                <div class="col-md-12">
                                                    <label class="col-sm-4 control-label">Fragman Url</label>
                                                    <div class="col-sm-8">
                                                        <input type="text" class="form-control" id="FragmanUrl" name="FragmanUrl" value="@(film.FragmanUrl)">
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <div class="col-md-12">
                                                    <label class="col-sm-4 control-label">IMDB Puanı</label>
                                                    <div class="col-sm-8">
                                                        <input type="text" class="form-control" id="IMDB" name="IMDB" value="@(film.IMDB)">
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <div class="col-md-12">
                                                    <label class="col-sm-4 control-label">Tür</label>
                                                    <div class="col-sm-8">
                                                        <input type="text" class="form-control" id="Tur" name="Tur" value="@(film.Tur)">
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <div class="col-md-12">
                                                    <label class="col-sm-4 control-label">Oyuncu</label>
                                                    <div class="col-sm-8">
                                                        <input type="text" class="form-control" id="Oyuncu" name="Oyuncu" value="@(film.Oyuncu)">
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <div class="col-md-12">
                                                    <label class="col-sm-4 control-label">Yönetmen</label>
                                                    <div class="col-sm-8">
                                                        <input type="text" class="form-control" id="Yonetmen" name="Yonetmen" value="@(film.Yonetmen)">
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <div class="col-md-12">
                                                    <label class="col-sm-4 control-label">Senarist</label>
                                                    <div class="col-sm-8">
                                                        <input type="text" class="form-control" id="Senarist" name="Senarist" value="@(film.Senarist)">
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <div class="col-md-12">
                                                    <label class="col-sm-4 control-label">Yapımcı</label>
                                                    <div class="col-sm-8">
                                                        <input type="text" class="form-control" id="Yapimci" name="Yapimci" value="@(film.Yapimci)">
                                                    </div>
                                                </div>
                                            </div>


                                        </div>
                                    </div>
                                </div>

                                <div class="modal-footer">

                                    <div class="btn-toolbar pull-right">

                                        <button type="button" class="btn btn-default" data-dismiss="modal" style="margin-right:20px;">Kapat</button>

                                        <input type="submit" value="Kaydet" class="btn btn-primary" />

                                    </div>

                                </div>
                            </div>

                        </div>
                    </div>


                }

                <div class="panel-body">
                    <table class="table table-bordered table-hover">
                        <thead>
                            <tr>
                                <th class="col-md-3">Afiş</th>
                                <th class="col-md-7">Başlık</th>
                                <th class="col-md-2">Vizyon Tarihi</th>
                                <th></th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in filmler)
                            {
                                <tr>

                                    @if (item.AfisPath == null)
                                    {
                                        <td><a href="/Home/Film?FilmId=@item.FilmId"><img style='width:100%; height:auto; border:solid 1px #cccccc;' src="~/Content/images/resimyok.png" alt="" /></a></td>
                                    }
                                    else
                                    {
                                        <td><a href="/Home/Film?FilmId=@item.FilmId"><img style='width:100%; height:auto; border:solid 1px #cccccc;' src="@Url.Content(item.AfisPath)" alt=""></a></td>

                                    }
                                    <td><a href="/Home/Film?FilmId=@item.FilmId">@item.Ad</a></td>
                                    <td>@String.Format("{0:d}", item.VizyonTarihi)</td>
                                    <td><a href="/Admin/FilmDuzenle?FilmId=@item.FilmId" class='btn btn-xs btn-info tooltips' title='Düzenle'>Düzenle</a></td>
                                    <td>@Html.ActionLink("Sil", "FilmSil", "Admin", new { FilmId = item.FilmId }, new { @class = "btn btn-xs btn-danger tooltips", onclick = "return confirm('Silmek İstediğinize Emin Misinizin ?');" })</td>
                                    @*<td><a href="/Admin/SlideSil?SlideID=@item.ID" class='btn btn-xs btn-danger tooltips' title='Sil'>Sil</a></td>*@
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>

        </div>
    </div>
</div>
