﻿
@{

    IEnumerable<Sinema_Dunyasi.Models.Haber> haberler = ViewBag.Haberler;
    Sinema_Dunyasi.Models.Haber haber = new Sinema_Dunyasi.Models.Haber();
}


<div class="row">
    <div class="col-md-12">
        <div class="col-md-2">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4>Admin Menü</h4>
                </div>
                <div class="panel-body">
                    <ul class="nav nav-pills nav-stacked">
                        <li class="active">@Html.ActionLink("Haberler", "Index", "Admin")</li>
                        <li>@Html.ActionLink("Slide", "Slider", "Admin")</li>
                        <li>@Html.ActionLink("Filmler", "Filmler", "Admin")</li>
                        <li>@Html.ActionLink("Mesajlar", "Mesajlar", "Admin")</li>
                        <li>@Html.ActionLink("Yorumlar", "Yorumlar", "Admin")</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-md-10">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4>Haberler</h4>

                    <button type="button" id="btnHaber" class="btn btn-success btn-sm tooltips pull-right" data-toggle="modal" data-target="#myModal" style="margin-top:-33px;">Yeni Haber</button>

                </div>

                @using (Html.BeginForm("HaberEkle", "Admin", FormMethod.Post, new { @class = "form-horizontal", enctype = "multipart/form-data" }))
                {

                    <!-- Modal -->
                    <div class="modal fade" id="myModal" role="dialog">
                        <div class="modal-dialog">

                            <!-- Modal content-->
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                                    <h4 class="modal-title">Yeni Haber</h4>
                                </div>

                                <div class="modal-body">


                                    <div class="row">
                                        <div class="form-horizontal">
                                            <div class="form-group">
                                                <div class="col-md-12">
                                                    <label class="col-sm-4 control-label">Fotoğraf</label>
                                                    <div class="col-sm-8">
                                                        <input type="file" style="padding-top:0px;" name="file" class="form-control" />
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <div class="col-md-12">
                                                    <label class="col-sm-4 control-label">Başlık</label>
                                                    <div class="col-sm-8">
                                                        <input type="text" class="form-control" id="Title" name="Title" value="@(haber.Title)">
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <div class="col-md-12">
                                                    <label class="col-sm-4 control-label">Haber Tarihi</label>
                                                    <div class="col-sm-8">
                                                        <input type="text" class="form-control" id="Tarih" name="Tarih" value="@(haber.Tarih)">
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <div class="col-md-12">
                                                    <label class="col-sm-4 control-label">Haber İçeriği</label>
                                                    <div class="col-sm-8">
                                                        <input type="text"  class="form-control" id="Text" name="Text" value="@(haber.Text)">
                                                    </div>
                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                </div>

                                <div class="modal-footer">

                                    <div class="btn-toolbar pull-right">

                                        <button type="button" class="btn btn-default" data-dismiss="modal" style="margin-right:20px;">Kapat</button>

                                        <input type="submit" value="Kaydet" class="btn btn-primary" />

                                    </div>

                                </div>
                            </div>

                        </div>
                    </div>


                }

                <div class="panel-body">
                    <table class="table table-bordered table-hover">
                        <thead>
                            <tr>
                                <th class="col-md-3">Haber Resmi</th>
                                <th class="col-md-7">Başlık</th>
                                <th class="col-md-2">Haber Tarihi</th>
                                <th></th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in haberler)
                            {
                                <tr>

                                    @if (item.ResimPath == null)
                                    {
                                        <td><a href="/Home/Haber?HaberId=@item.HaberId"><img style='width:100%; height:auto; border:solid 1px #cccccc;' src="~/Content/images/resimyok.png" alt="" /></a></td>
                                    }
                                    else
                                    {
                                        <td><a href="/Home/Haber?HaberId=@item.HaberId"><img style='width:100%; height:auto; border:solid 1px #cccccc;' src="@Url.Content(item.ResimPath)" alt=""></a></td>
                                        
                                    }
                                    <td><a href="/Home/Haber?HaberId=@item.HaberId">@item.Title</a></td>
                                    <td>@String.Format("{0:d}", item.Tarih)</td>
                                    <td><a href='/Admin/HaberDuzenle?HaberId=@item.HaberId' class='btn btn-xs btn-info tooltips' title='Düzenle'>Düzenle</a></td>
                                    <td>@Html.ActionLink("Sil", "HaberSil", "Admin", new { HaberId = item.HaberId }, new { @class = "btn btn-xs btn-danger tooltips", onclick = "return confirm('Silmek İstediğinize Emin Misinizin ?');" })</td>
                                    @*<td><a href="/Admin/SlideSil?SlideID=@item.ID" class='btn btn-xs btn-danger tooltips' title='Sil'>Sil</a></td>*@
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>

        </div>
    </div>
</div>
