﻿
@{
    IEnumerable<Sinema_Dunyasi.Models.Iletisim> iletisim = ViewBag.Mesajlar;
}

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

<div class="row">
    <div class="col-md-12">
        <div class="col-md-2">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4>Admin Menü</h4>
                </div>
                <div class="panel-body">
                    <ul class="nav nav-pills nav-stacked">
                        <li>@Html.ActionLink("Haberler", "Index", "Admin")</li>
                        <li>@Html.ActionLink("Slide", "Slider", "Admin")</li>
                        <li>@Html.ActionLink("Filmler", "Filmler", "Admin")</li>
                        <li class="active">@Html.ActionLink("Mesajlar", "Mesajlar", "Admin")</li>
                        <li>@Html.ActionLink("Yorumlar", "Yorumlar", "Admin")</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-md-10">


            <h4>Mesajlar</h4><br>

            <table class="table table-bordered table-hover">
                <thead>
                    <tr>
                        <th class="col-md-3">Ad Soyad</th>
                        <th class="col-md-7">Konu</th>
                        <th class="col-md-2">Tarih</th>
                        <th></th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in iletisim)
                    {
                        <tr>
                            <td>@item.AdSoyad</td>
                            <td>@item.Konu</td>
                            <td>@String.Format("{0:d}", @item.Tarih)</td>
                            <td><button type="button" onclick="doModal('@item.Konu','@item.Mesaj')" id="btnDetay" class="btn btn-xs btn-info tooltips" data-toggle="modal" data-target="#myModal">Mesajı Oku</button></td>
                            <td>@Html.ActionLink("Sil", "MesajSil", "Admin", new { MesajId = item.MesajId }, new { @class = "btn btn-xs btn-danger tooltips", onclick = "return confirm('Silmek İstediğinize Emin Misinizin ?');" })</td>
                        </tr>



                        @*<!-- Modal -->
                            <div class="modal fade" id="myModal" role="dialog">
                                <div class="modal-dialog">

                                    <!-- Modal content-->
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                                            <h4 class="modal-title">Modal Header</h4>
                                        </div>
                                        <div class="modal-body">
                                            <p>@item.Mesaj</p>
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                        </div>
                                    </div>

                                </div>
                            </div>*@



                    }


                </tbody>


            </table>

        </div>

    </div>
</div>




<script type="text/javascript">

    function myjs(mesaj) {
        alert(mesaj);
    }

    function doModal(heading, formContent) {
        html = '<div id="dynamicModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="confirm-modal" aria-hidden="true">';
        html += '<div class="modal-dialog">';
        html += '<div class="modal-content">';
        html += '<div class="modal-header">';
        html += '<a class="close" data-dismiss="modal">×</a>';
        html += '<h4>' + heading + '</h4>'
        html += '</div>';
        html += '<div class="modal-body">';

        html += formContent;

        html += '</div>';
        html += '<div class="modal-footer">';
        html += '<span class="btn btn-primary" data-dismiss="modal">Close</span>';
        html += '</div>';  // content
        html += '</div>';  // dialog
        html += '</div>';  // footer
        html += '</div>';  // modalWindow
        $('body').append(html);
        $("#dynamicModal").modal();
        $("#dynamicModal").modal('show');

        $('#dynamicModal').on('hidden.bs.modal', function (e) {
            $(this).remove();
        });

    }


</script>


