﻿
@{
    Sinema_Dunyasi.Models.Slider slider = new Sinema_Dunyasi.Models.Slider();
}

<link href="~/Content/plugins/form-datepicker/css/datepicker.css" rel="stylesheet" />
<script src="~/Content/plugins/form-datepicker/js/bootstrap-datepicker.js"></script>

<div class="row">
    <div class="col-sm-12">
        @using (Html.BeginForm("SlideEkle", "Admin", FormMethod.Post, new { @class = "form-horizontal", enctype = "multipart/form-data" }))
        {
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4>Yeni Slide</h4>
                    <a href="/Admin/Slider" class="btn btn-success btn-sm tooltips pull-right" title="Yeni Slide" style="margin-top:-33px;">Tümü</a>
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="form-horizontal">
                            <div class="form-group">
                                <div class="col-md-12">
                                    <label class="col-sm-2 control-label">Fotoğraf</label>
                                    <div class="col-sm-10">
                                        <input type="file" style="padding-top:0px;" name="file" class="form-control" />
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-md-12">
                                    <label class="col-sm-2 control-label">Açıklama</label>
                                    <div class="col-sm-10">
                                        <input type="text" class="form-control" id="SliderText" name="SliderText" value="@(slider.SliderText)">
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-md-12">
                                    <label class="col-sm-2 control-label">Film Id</label>
                                    <div class="col-sm-10">
                                        <input type="text" class="form-control" id="FilmId" name="FilmId" value="@(slider.FilmId)">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="panel-footer">
                    <div class="row">
                        <div class="col-sm-9 col-sm-offset-3">
                            <div class="btn-toolbar pull-right">
                                <input type="submit" value="Kaydet" class="btn btn-primary" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>
</div>

<script type="text/javascript">
    $(document).ready(function () {
        $("#BitisTarihi").datepicker({ dateFormat: 'DD.MM.YYYY' });
        $("#BitisTarihi").datepicker('setDate', new Date());
        $("#BaslangicTarihi").datepicker({ dateFormat: 'DD.MM.YYYY' });
        $("#BaslangicTarihi").datepicker('setDate', new Date());
    });
</script>
