﻿
@{

    IEnumerable<Sinema_Dunyasi.Models.Slider> slider = ViewBag.Slider;
    Sinema_Dunyasi.Models.Slider yeniSlide = new Sinema_Dunyasi.Models.Slider();
}
 

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

<div class="row">
    <div class="col-md-12">
        <div class="col-md-2">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4>Admin Menü</h4>
                </div>
                <div class="panel-body">
                    <ul class="nav nav-pills nav-stacked">
                        <li>@Html.ActionLink("Haberler", "Index", "Admin")</li>
                        <li class="active">@Html.ActionLink("Slide", "Slider", "Admin")</li>
                        <li>@Html.ActionLink("Filmler", "Filmler", "Admin")</li>
                        <li>@Html.ActionLink("Mesajlar", "Mesajlar", "Admin")</li>
                        <li>@Html.ActionLink("Yorumlar", "Yorumlar", "Admin")</li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="col-md-10">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4>Slider</h4>

                    @*<a href="/Admin/SlideEkle" class="btn btn-success btn-sm tooltips pull-right" title="Yeni Slide" style="margin-top:-33px;">Yeni Slide</a>*@

                    <button type="button" id="btnSlide" class="btn btn-success btn-sm tooltips pull-right" data-toggle="modal" data-target="#myModal" style="margin-top:-33px;">Yeni Slide</button>

                    @using (Html.BeginForm("SlideEkle", "Admin", FormMethod.Post, new { @class = "form-horizontal", enctype = "multipart/form-data" }))
                    {

                    <!-- Modal -->
                        <div class="modal fade" id="myModal" role="dialog">
                            <div class="modal-dialog">

                                <!-- Modal content-->
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                                        <h4 class="modal-title">Yeni Slide</h4>
                                    </div>

                                    <div class="modal-body">


                                        <div class="row">
                                            <div class="form-horizontal">
                                                <div class="form-group">
                                                    <div class="col-md-12">
                                                        <label class="col-sm-4 control-label">Fotoğraf</label>
                                                        <div class="col-sm-8">
                                                            <input type="file" style="padding-top:0px;" name="file" class="form-control" />
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <div class="col-md-12">
                                                        <label class="col-sm-4 control-label">Açıklama</label>
                                                        <div class="col-sm-8">
                                                            <input type="text" class="form-control" id="SliderText" name="SliderText" value="@(yeniSlide.SliderText)">
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <div class="col-md-12">
                                                        <label class="col-sm-4 control-label">Film Id</label>
                                                        <div class="col-sm-8">
                                                            <input type="text" class="form-control" id="FilmId" name="FilmId" value="@(yeniSlide.FilmId)">
                                                        </div>
                                                    </div>
                                                </div>




                                                @*<div class="form-group">
                                                    <div class="col-md-12">
                                                        <label class="col-sm-4 control-label">Başlangıç Tarihi</label>
                                                        <div class="col-sm-8">
                                                            <input type="text" class="form-control" id="BaslangicTarihi" name="BaslangicTarihi" value="@(yeniSlide.BaslangicTarihi)">
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <div class="col-md-12">
                                                        <label class="col-sm-4 control-label">Bitiş Tarihi</label>
                                                        <div class="col-sm-8">
                                                            <input type="text" class="form-control" id="BitisTarihi" name="BitisTarihi" value="@(yeniSlide.BitisTarihi)">
                                                        </div>
                                                    </div>
                                                </div>*@
                                            </div>
                                        </div>
                                  </div>

                                    <div class="modal-footer">

                                        <div class="btn-toolbar pull-right">

                                            <button type="button" class="btn btn-default" data-dismiss="modal" style="margin-right:20px;">Kapat</button>

                                            <input type="submit" value="Kaydet" class="btn btn-primary" />

                                        </div>
 
                                    </div>
                                </div>

                            </div>
                        </div>


                    }
 
                </div>
                <div class="panel-body">
                    <table class="table table-bordered table-hover">
                        <thead>
                            <tr>
                                <th class="col-md-3">Fotoğraf</th>
                                <th class="col-md-7">Başlık</th>
                                <th class="col-md-2">Film Id</th>
                                <th></th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in slider)
                            {
                                <tr>
                                    @if (item.SliderPath == null)
                                    {
                                        <td><img style='width:100%; height:auto; border:solid 1px #cccccc;' src="~/Content/images/resimyok.png" alt="" /></td>
                                    }
                                    else
                                    {
                                        <td>
                                            <img style='width:100%; height:auto; border:solid 1px #cccccc;' src="@Url.Content(item.SliderPath)" alt="@item.SliderText">
                                        </td>
                                    }
                                    <td>@item.SliderText</td> 
                                    <td>@item.FilmId</td>
                                    <td><a href='/Admin/SlideDuzenle?SlideID=@item.SliderId' class='btn btn-xs btn-info tooltips' title='Düzenle'>Düzenle</a></td>
                                    <td>@Html.ActionLink("Sil", "SlideSil", "Admin", new { SlideID = item.SliderId }, new { @class = "btn btn-xs btn-danger tooltips", onclick = "return confirm('Silmek İstediğinize Emin Misinizin ?');" })</td>
                                    @*<td><a href="/Admin/SlideSil?SlideID=@item.ID" class='btn btn-xs btn-danger tooltips' title='Sil'>Sil</a></td>*@
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

    </div>
</div>


