﻿
@{
    IEnumerable<Sinema_Dunyasi.Models.Yorumlar> yorumlar = ViewBag.Yorumlar;
}

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

<div class="row">
    <div class="col-md-12">
        <div class="col-md-2">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4>Admin Menü</h4>
                </div>
                <div class="panel-body">
                    <ul class="nav nav-pills nav-stacked">
                        <li>@Html.ActionLink("Haberler", "Index", "Admin")</li>
                        <li>@Html.ActionLink("Slide", "Slider", "Admin")</li>
                        <li>@Html.ActionLink("Filmler", "Filmler", "Admin")</li>
                        <li>@Html.ActionLink("Mesajlar", "Mesajlar", "Admin")</li>
                        <li class="active">@Html.ActionLink("Yorumlar", "Yorumlar", "Admin")</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-md-10">


            <h4>Yorumlar</h4><br>

            <table class="table table-bordered table-hover">
                <thead>
                    <tr>
                        <th class="col-md-3">Yorumu Yapan</th> 
                        <th class="col-md-7">Tarih</th>
                        <th></th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in yorumlar)
                    {
                        <tr>
                            <td>@item.KullaniciAdi</td>
                            <td>@String.Format("{0:dd/MM/yyyy HH:mm:ss}", item.Tarih)</td>
                            <td><button type="button" onclick="doModal('@item.KullaniciAdi','@item.Yorum.Trim()')" id="btnYorum" class="btn btn-xs btn-info tooltips">Yorumu Oku</button></td>
                            <td>@Html.ActionLink("Sil", "YorumSil", "Admin", new { yorumId = item.YorumId }, new { @class = "btn btn-xs btn-danger tooltips", onclick = "return confirm('Silmek İstediğinize Emin Misinizin ?');" })</td>
                        </tr>
 
                    }


                </tbody>


            </table>

        </div>

    </div>
</div>



<script type="text/javascript">

    function myjs(mesaj) {
        alert(mesaj);
    }

    function doModal2(heading, formContent) {
        alert(formContent);
    }

    function doModal(heading, formContent) {
        html = '<div id="dynamicModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="confirm-modal" aria-hidden="true">';
        html += '<div class="modal-dialog">';
        html += '<div class="modal-content">';
        html += '<div class="modal-header">';
        html += '<a class="close" data-dismiss="modal">×</a>';
        html += '<h4>' + heading + '</h4>'
        html += '</div>';
        html += '<div class="modal-body">';

        html += formContent;

        html += '</div>';
        html += '<div class="modal-footer">';
        html += '<span class="btn btn-primary" data-dismiss="modal">Kapat</span>';
        html += '</div>';  // content
        html += '</div>';  // dialog
        html += '</div>';  // footer
        html += '</div>';  // modalWindow
        $('body').append(html);
        $("#dynamicModal").modal();
        $("#dynamicModal").modal('show');

        $('#dynamicModal').on('hidden.bs.modal', function (e) {
            $(this).remove();
        });

    }


</script>






